<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<style type="text/css">
		
	</style>
</head>
<body>
	<aside>
		<div class="first_sidebar">
			<div class="head_img">
				<img src="img/head.jpg" >
			</div>
			<ul class="nav-bar">
				<a href="/Admin/addGoods" target="main-content">
					<li data-child="list_01"><i class="iconfont">&#xe637;</i>概况</li>
				</a>

				<a href="Mall_managemen.html" target="main-content">
					<li data-child="list_02" class="active"><i class="iconfont">&#xe82b;</i>商城</li>
				</a>

				<a href="activity.html" target="main-content">
					<li data-child="list_03"><i class="iconfont">&#xe605;</i>活动</li>
				</a>

				<a href="order.html" target="main-content">
					<li data-child="list_04"><i class="iconfont">&#xe637;</i>订单</li>
				</a>

				<a href="" target="main-content">
					<li data-child="list_05"><i class="iconfont">&#xe61a;</i>商城设置</li>
				</a>
			</ul>
		</div>
		<div class="second_sidebar">
			<!-- <div class="second-sidebar-title">
		        商品管理
		    </div>
			<ul>
				<li class="active">商城首页</li>
				<li>积分兑换</li>
				<li>合益兑换区</li>
			</ul> -->
		</div>

		<div class="second_lists">
			<div class="list_01"></div>

			<div class="list_02">
				<div class="second-sidebar-title">
			        商品管理
			    </div>
				<ul>
					<li class="active">商城首页</li>
					<li>积分兑换</li>
					<li>合益兑换区</li>
				</ul>
			</div>

			<div class="list_03"></div>


			<div class="list_04">
				<div class="second-sidebar-title">
			        订单管理
			    </div>
				<ul>
					<li>订单概况</li>
					<li>订单列表</li>
					<li>售后订单</li>
				</ul>
			</div>

		</div>
	</aside>
	<section>
		<iframe src="" name="main-content" width="100%" height="100%" id="main-content" scrolling="auto" frameborder="0"></iframe>
	</section>
</body>
</html>
<script type="text/javascript" src="js/jquery-2.0.2.min.js"></script>
<script type="text/javascript">
	$('.nav-bar li').click(function(){
		$('.nav-bar li').removeClass('active');
		$(this).addClass('active');
		var navObj = $('.' + $(this).data('child'));
		var second_nav = navObj.html();
		if(second_nav == ""){
			// $('.second_sidebar').animate({'width': '0px'}, 200, function(){
			// 	posInit();
			// });
			$('.second_sidebar').hide();
		}else{
			// $('.second_sidebar').animate({'width': '110px'}, 200, function(){
			// 	posInit();
			// });
			$('.second_sidebar').show();
		}
		$('.second_sidebar').html(second_nav);
		posInit();
		
	})

	function posInit(){
		var w = $('aside').width();
		console.log(w);
		$('section').css({'marginLeft': w + 'px'});
		// $('section').animate({'marginLeft': w + 'px'},100);
	}
</script>